<footer class="page-footer font-small bg-light pt-3">
    <div class="container">
     
        <div class="row">
         <div class="col-md-12 d-flex justify-content-center">
             <h5 class="p">Siga nossas redes sociais</h5>
         </div>
         </div>

         <div class="row">
             <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li> 
                       <a href="https://www.instagram.com/larissadecampos2/"target="_blank"
                        class="icoFace"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                       </a> 

                       <a href="https://www.linkedin.com/in/larissa-de-campos/"target="_blank"
                       class="icoLink">
                       <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>

                       <a href="https://github.com/larissadecampos/"target="_blank" 
                       class="icoGit">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                       </a>

                       <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8066191Z8&tokenCaptchar=03AGdBq24Y0cDvzsDyn-BjqcZ6yCbQWoNQPgF7TzIlf8Yy4BHuzL5DiJnUCyZWccfgQ1zqpmprucKminEHt4r4UINZAeW6uz-GZFAuUgYubUMDLqNtzXZHtqetftaWFj6Evx0S6XZwYS44QM_DARPSZoOHKAM0gZKr2MAaH998gxnQrMy9lp4rKOmJWHeZxVskYQ73sVByuGeTdV4ARVJd_SyeQFdc6bjwd6VvMR9wU4KdNlc9r024-Z1cCLsibKwTDRViVRMF--Q2dhobpKysPzOB8G2AnQbR1tXLzGRSnRchap9oh1FQfvSkcXaclzTw91uNAImJFGIhMNdqgUI7x2TJB62fO5NWHeojIumoUNEe7a-8LLIIHv-j8P5QIXKZ-kzMy4MI8rjO1dtdFvInt5o0THCzngWrIPWfAC8o2hrSO9h6759cs4ZmcY9cz2jxmCyyvCCdTCmP0jRiLDIfB57SkpasW5jM-Q"target="_blank" 
                       class="icoLat">
                       <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                       </a>

                    </li>
                </ul>

             </div>
         </div>
     </div>

<div class="footer-copyright text-center py-0">
    <span class="p"> © 2022 Copyright GeoNaRede </span>

</div>

</footer>
